In [1]:
print("Hello world!")

Hello world!

## This is an example markdown cell with the title of the notebook

This is an example markdown cell for an introduction.

## Data Science Languages

* Python
* R
* Julia
* Scala
* SQL

# Data Science Libraries (Python)

* NumPy (Numerical computing)
* Pandas (Data manipulation and analysis)
* Matplotlib (Data visualization)
* Scikit-learn (Machine learning)
* TensorFlow (Deep learning)

# Data Science Tools

| Category | Tool Name | Description |
|---|---|---|
| Programming Languages | Python | General-purpose language popular for data science |
| Data Manipulation | Pandas | Powerful library for data cleaning, analysis, and transformation |
| Data Visualization | Matplotlib | Flexible library for creating various plots and charts |
| Machine Learning | Scikit-learn | Comprehensive library for machine learning algorithms |
| Deep Learning | TensorFlow | Framework for building and deploying deep learning models |

## Arithmetic Expressions

This section covers basic arithmetic operations like addition, subtraction, multiplication, and division.

In [2]:
# Multiply two numbers
result = 5 * 5
print(result)

# Add two numbers
sum = 10 + 4
print(sum)

25
14

In [3]:
# Convert minutes to hours
mins = 60
hours = mins / 60
print(f"{mins} minutes is equal to {hours} hours")

60 minutes is equal to 1.0 hours

## Objectives

* Understand the core concepts of data science languages and libraries.
* Perform basic arithmetic operations using code.
* Convert units using Python code.

## Author

This notebook was created by [Bao Huynh] on 24/5/2024.